{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Hello i'm Jinho Kim interested in AI.</h1>
            <h3>I am a senior in the department of electronics engineering at Incheon University.<br><br></h3>
            <h3><strong>전 강한 프로그래머가 되기 위해 요즘 열심히 삽질하고 있습니다..</strong></h3>
            <h3><strong>다음에 올릴 2번째 홈페이지에서는 더욱더 강해져서 돌아오겠습니다.<br></strong><br></h3>
            <strong>이 홈페이지는 CSS, JavaScript, HTML의 기본지식이 하나도 없는 놈이 flask 하나 2시간 공부해서 야메로 
                꾸역꾸역 만든 홈페이지입니다!<br><br><br></strong>
            <h4><strong>아래에 github, instagram 아이콘을 누르면 저의 github, instagram 창이 열립니다!</strong></h4>
        </div>
    </div>
{% endblock %}
