<div class="container-fluid text-center bottom-container">
    <footer>
        <br>
        <table class="footer_table" align="center">

            <tr>
                <td class="footer-txt">ABOUT</td>
                <td class="footer-txt">CONTACT</td>
                <td class="footer-txt">ADDRESS</td>
            </tr>

            <tr>
                <td><img src="/static/images/layout/github-logo1.png" width="80" height="80" 
                         onclick="location.href='https://github.com/kimjinho1/'"></td>
                <td>Jinho Kim</td>
                <td>Korea</td>
            </tr>

            <tr>
                <td><img src="/static/images/layout/instagram-logo.png" width="80" height="80" 
                         onclick="location.href='https://www.instagram.com/jinho.v2/'"></td>
                <td style="color: #A566FF">dlfhgk62@gmail.com</td>
                <td>Seoul</td>
            </tr>

            <tr>
                <td>&nbsp</td>
            </tr>

            <tr>
                <td colspan="3" style="font-weight: bold; color: #747474;">© 2020 Jinho. All rights reserved</td>
            </tr>

        </table>
    </footer>
</div>